Unit]
Description=QBroker Flow <%= @id %>
After=network-online.target
[Service]
Type=forking
ExecStart=<%= @homedir %>/init.d/S50QFlow_<%= @id %> start
ExecStop=<%= @homedir %>/init.d/S50QFlow_<%= @id %> stop
User=<%= @user %>
Group=<%= @group %>
[Install]
WantedBy=multi-user.target
